* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    text-align: center;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

a {
    text-decoration: none;
}

a,
button {
    cursor: pointer;
}

main {
    position: relative;
}

.main-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-block-start: 90vh;
    position: relative;
    background-color: white;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 1em;
    max-width: 450px;
    color: blueviolet;
}

.card h2 {
    font-size: 2rem;
    text-align: center;
    padding: 1em;
}

.card:hover {
    border: 2px solid #333;
    background-color: coral;
    color: white;
    cursor: pointer;
}

.hide {
    display: none;
}

.showQues {
    font-size: 5rem;
    width: 90%;
    margin: auto;
}