* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    text-align: center;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

a {
    text-decoration: none;
}

a,
button {
    cursor: pointer;
}

header {
    padding-block: 1em;
    background: cornflowerblue;
    color: white;
}

main {
    position: relative;
    padding-block: 1em;
}

.main-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2em;
    width: 100%;
    /* height: min(90vh, 800px); */
    position: relative;
    background-color: white;
    margin: auto;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    max-width: 90%;
    border: 2px solid #ccc;
    border-radius: 0.5em;
    color: blueviolet;
    transition: background-color 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275),
                border-color 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955),
                color 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.card h2 {
    font-size: 2rem;
    text-align: center;
    padding: 0.5em 1.5em;
}

.card:hover {
    border-color: #333;
    background-color: coral;
    color: white;
    cursor: pointer;
}

.hide {
    display: none;
}

.showQues {
    font-size: 5rem;
    width: 90%;
    margin: auto;
}